default_shell "fish"

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}

keybinds clear-defaults=true {
    normal {
        bind "Alt e" { EditScrollback; SwitchToMode "Normal"; }
    }

    locked {
        bind "Alt g" { SwitchToMode "Normal"; }
    }

    resize {
        bind "Alt r" { SwitchToMode "Normal"; }
        bind "h" "Left" { Resize "Increase Left"; }
        bind "j" "Down" { Resize "Increase Down"; }
        bind "k" "Up" { Resize "Increase Up"; }
        bind "l" "Right" { Resize "Increase Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }

    pane {
        bind "Alt p" { SwitchToMode "Normal"; }
        bind "h" "Left" { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        bind "Tab" { SwitchFocus; }
        bind "d" { NewPane "Down"; }
        bind "n" { NewPane "Right"; }
        bind "x" { CloseFocus; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "t" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }

    move {
        bind "Alt m" { SwitchToMode "Normal"; }
        bind "h" "Left" { MovePane "Left"; }
        bind "j" "Down" { MovePane "Down"; }
        bind "k" "Up" { MovePane "Up"; }
        bind "l" "Right" { MovePane "Right"; }
    }

    tab { // PAS FAIT
        bind "Alt t" { SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "h" "Left" "Up" "k" { GoToPreviousTab; }
        bind "l" "Right" "Down" "j" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "Normal"; }
        bind "x" { CloseTab; SwitchToMode "Normal"; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; } // What
        bind "b" { BreakPane; SwitchToMode "Normal"; }
        bind "]" { BreakPaneRight; SwitchToMode "Normal"; } //TEST
        bind "[" { BreakPaneLeft; SwitchToMode "Normal"; } //TEST
        bind "1" { GoToTab 1; }
        bind "2" { GoToTab 2; }
        bind "3" { GoToTab 3; }
        bind "4" { GoToTab 4; }
        bind "5" { GoToTab 5; }
        bind "6" { GoToTab 6; }
        bind "7" { GoToTab 7; }
        bind "8" { GoToTab 8; }
        bind "9" { GoToTab 9; }
        bind "Tab" { ToggleTab; }
    }

    scroll {
        bind "Alt s" { SwitchToMode "Normal"; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Esc" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "f" "PageDown" { PageScrollDown; }
        bind "b" "PageUp" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }

    search { // tf is that mode + pas fait
        bind "Alt s" { SwitchToMode "Normal"; }
        bind "Esc" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "f" "PageDown" { PageScrollDown; }
        bind "b" "PageUp"{ PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "p" { SearchToggleOption "Wrap"; }
        bind "w" { SearchToggleOption "WholeWord"; }
    }

    entersearch {
        bind "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }

    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Normal"; }
    }

    renamepane {
        bind "Esc" { UndoRenamePane; SwitchToMode "Normal"; }
    }

    session { // pas fait
        bind "Ctrl o" { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Scroll"; }
        bind "d" { Detach; }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
        bind "c" {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
    }

    shared_except "locked" { // pas fait
        bind "Alt g" { SwitchToMode "Locked"; }
        bind "Alt f" { ToggleFloatingPanes; }
        bind "Alt n" { NewPane; }
        bind "Alt i" { MoveTab "Left"; }
        bind "Alt o" { MoveTab "Right"; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
    }

    shared_except "normal" "locked" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }

    shared_except "pane" "locked" {
        bind "Alt p" { SwitchToMode "Pane"; }
    }

    shared_except "resize" "locked" {
        bind "Alt r" { SwitchToMode "Resize"; }
    }

    shared_except "scroll" "locked" {
        bind "Alt s" { SwitchToMode "Scroll"; }
    }

    shared_except "session" "locked" {
        bind "Ctrl o" { SwitchToMode "Session"; }
    }

    shared_except "tab" "locked" {
        bind "Alt t" { SwitchToMode "Tab"; }
    }

    shared_except "move" "locked" {
        bind "Alt m" { SwitchToMode "Move"; }
    }
}

